body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
}

h1, h2, h3, #logo { font-family: 'Pacifico', cursive; }

a { color: #3897F0; text-decoration: none; }

/*** Navbar ***/

nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 15px 30px;
	background-color: white;
	border-bottom: 1px solid #e0e0e0;
	z-index: 400;
}

nav #logo {
	font-size: 1.5em;
	margin-top: 3px;
}

nav a {
	color: #262626;
	text-decoration: none;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
}

nav ul li span {
	color: rgba(0,0,0,0.4);
}

/***************/

.container {
	padding: 120px 35px;
}

.log-in {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../img/intro-bg.jpg') center top no-repeat;
	background-size: cover;
	min-height: 900px;
}

/*** Form ***/

.encart {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	padding: 20px;
	background-color: white;
	border: 1px solid #e0e0e0;
	transform: translate(-50%, -50%);
}

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=submit] {
	font-size: 0.9em;
}

form input[type=text],
form input[type=password],
form input[type=email],
textarea {
	width: 90%;
	height: 28px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	margin: 5px 0 15px 0;
	padding: 4px;
}

textarea {
	height: 40px;
}

form input[type=submit] {
	padding: 10px 10px;
}

.encart a { color: #3897F0; text-decoration: none; }
.forgot a { color: #999999; font-size: 0.8em; }

.comments {
    width: 400px;
    margin: 10px;
}

/**** Cards ****/

.card {
	position: relative;
	height: 360px;
    width: 400px;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 10px 18px -12px rgb(0,0,0);
}
.underbar {
	position: absolute;
    height: 60px;
    background-color: white;
    left: 0;
    bottom: 0;
    right: 0;
}
.underbar .user {
	position: absolute;
	top: 20px;
	left: 20px;
}
.underbar ul {
	position: absolute;
	right: 20px;
}
.underbar ul li {
	display: inline-block;
	margin-left: 5px;
	font-size: 1.2em;
}
.underbar ul li a {
	color: #a5a5a5;
}
.underbar ul li a:hover {
	color: #3897F0;
}

.underbar ul li .fa-heart {
	font-size: 0.9em;
}

.date {
	font-size: 0.8em;
	color: #999999;
}

.underbar .count {
	font-size: 0.9em;
    color: #A5A5A5;
}

/****  Story  ***/

.cam {
	position: relative;
	height: 360px;
	width: 400px;
	background-color: white;
	padding: 20px;
	box-shadow: 0px 10px 18px -12px rgb(0,0,0);
}

.cam video,
.cam img,
.cam .upload {
	position: absolute;
	top: 20px;
	left: 20px;
}
.cam img {
	z-index: 100;
}
.cam .upload {
	z-index: 90;
}

.cam .sticker-select {
	position: absolute;
	bottom: 22px;
	left: 20px;
	z-index: 120;
	font-size: 0.8em;
}

#startbutton {
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-size: 1em;
	padding: 10px;
	transform: translateX(-50%);
	box-shadow: 0px 10px 18px -12px rgb(0,0,0);
}

#startbutton:hover {
	background-color: #96c5f2;
	border: 1px solid #96c5f2;
}

.rendu {
	padding: 15px;
    background-color: white;
    margin-left: 15px;
    box-shadow: 0 0 25px -10px rgb(0,0,0);
}

#message {
	margin-left: 20px;
}

.gallery {
	display: block;
	width: 100%;
}

/**** Comments ***/

.comment {
	width: 100%;
	background-color: white;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.comment p {
	margin: 0;
}

.comment-title {
	margin-top: 10px;
	font-size: 0.9em;
}

/*****************/

.separator {
	display: block;
	height: 1px;
	width: 100%;
	background-color: #e0e0e0;
	margin: 25px 0 25px 0;
}

.btn {
	padding: 5px 15px;
	border-radius: 5px;
	margin-left: 5px;
	text-decoration: none;
	cursor: pointer;
}

.btn-blue {
	color: white;
	background-color: #3897F0;
	border: 1px solid #3897F0;
	font-weight: 700;
}

.btn-red {
	color: white;
	background-color: #dd0000;
	border: 1px solid #dd0000;
	font-weight: 700;
}

.box-blue {
	margin-bottom: 15px;
	border-radius: 5px;
    padding: 15px;
    background-color: #96c5f2;
    color: white;
}

.error-msg { font-size: 0.8em; color: red; }
.success-msg { font-size: 0.8em; color: green; }

/*** Footer ***/

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px 30px;
	text-align: right;
	background-color: #262626;
	color: #AAAAAA;
	font-size: 13px;
	font-style: italic;
	z-index: 500;
}

.blue { color: #3897F0; }
.green { color: #31c600; }
.red { color: red; }
.align-center { text-align: center; }
.align-right { float: right; }
.align-left { float: left; }
.clear { clear: both; }
